<div style="width: 600px;margin-left: auto;margin-right: auto;background: #f1f1f1;font-family: sans-serif;">
  <div style="height: 100px;background: #622066;">
    <img style="padding-top: 20px;margin-left: auto;margin-right: auto;display: block;" src="https://petro.com.co/wp-content/uploads/2018/02/petroblanco_tb.png" alt="Petro Presidente"/>
  </div>
  <div>
    <h1 style="padding: 0 40px 0 40px;">Hola, <%= "#{@witness.first_name.titleize} #{@witness.surname.titleize}" %></h1>
    <p style="padding: 0 40px 0 40px;text-align: justify;">
      Agradecemos su apoyo y compromiso para alcanzar una Colombia más Humana
    </p>
    <p style="padding: 0 40px 0 40px;text-align: justify;">
      Estamos seguros que con tu apoyo lograremos construir un mejor futuro para Colombia basado en el compromiso para superar las desigualdades que persisten en nuestro país, dando énfasis a la protección de la primera infancia y la realización de los derechos a la salud y la educación como condición para asegurar la inclusión creciente de las y los jóvenes como sujetos activos de su proyecto de vida y en componente esencial de la construcción de una sociedad del saberla.
    </p>
    <p style="padding: 0 40px 0 40px;text-align: justify;">
      Te invitamos a vincularte a nuestras redes a través de https://petro.com.co
    </p>

    <p style="padding:0 40px 40px 40px;text-align:justify;text-align: justify;">
      Atte: Equipo de la Colombia Humana
    </p>
  </div>
</div>
